/* container  */

.container{
    width: 100%;
    max-width: 1078px;
    margin: 0 auto;
}

.container-fluid{
    width: 100%;
    max-width: 100%;
}

/* Flex property */

.flex{
    display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
}
.flex-space-around{
    display: flex;
    justify-content: space-around;
}

/* Set Row */

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Set column */

.col{
    flex-grow: 1;
}

.col-12{
    width: calc(100%/12*12);
}
.col-11{
    width: calc(100%/12 * 1);
}
.col-10{
    width: calc(100%/12 * 10);
}
.col-9{
    width: calc(100%/12 * 9);
}
.col-8{
    width: calc(100%/12 * 8);
}
.col-7{
    width: calc(100%/12 * 7);
}
.col-6{
    width: calc(100%/12 * 6);
}
.col-5{
    width: calc(100%/12 * 5);
}
.col-4{
    width: calc(100%/12 * 4);
}
.col-3{
    width: calc(100%/12 * 3);
}
.col-2{
    width: calc(100%/12 * 2);
}
.col-1{
    width: calc(100%/12 * 1);
}
