/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* container  */

.container{
    width: 100%;
    max-width: 1078px;
    margin: 0 auto;
}

.container-fluid{
    width: 100%;
    max-width: 100%;
}

/* Flex property */

.flex{
    display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
}
.flex-space-around{
    display: flex;
    justify-content: space-around;
}

/* Set Row */

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Set column LARGE*/

.col-lg-12{
    width: calc(100%/12*12);
}
.col-lg-11{
    width: calc(100%/12 * 1);
}
.col-lg-10{
    width: calc(100%/12 * 10);
}
.col-lg-9{
    width: calc(100%/12 * 9);
}
.col-lg-8{
    width: calc(100%/12 * 8);
}
.col-lg-7{
    width: calc(100%/12 * 7);
}
.col-lg-6{
    width: calc(100%/12 * 6);
}
.col-lg-5{
    width: calc(100%/12 * 5);
}
.col-lg-4{
    width: calc(100%/12 * 4);
}
.col-lg-3{
    width: calc(100%/12 * 3);
}
.col-lg-2{
    width: calc(100%/12 * 2);
}
.col-lg-1{
    width: calc(100%/12 * 1);
}

/* Set column MEDIUM*/
@media screen and (max-width: 768px){
    .col-md-12{
        width: calc(100%/12*12);
    }
    .col-md-11{
        width: calc(100%/12 * 1);
    }
    .col-md-10{
        width: calc(100%/12 * 10);
    }
    .col-md-9{
        width: calc(100%/12 * 9);
    }
    .col-md-8{
        width: calc(100%/12 * 8);
    }
    .col-md-7{
        width: calc(100%/12 * 7);
    }
    .col-md-6{
        width: calc(100%/12 * 6);
    }
    .col-md-5{
        width: calc(100%/12 * 5);
    }
    .col-md-4{
        width: calc(100%/12 * 4);
    }
    .col-md-3{
        width: calc(100%/12 * 3);
    }
    .col-md-2{
        width: calc(100%/12 * 2);
    }
    .col-md-1{
        width: calc(100%/12 * 1);
    }
}
/* Set column SMALL*/
@media screen and (max-width: 576px){
    .col-xs-12{
        width: calc(100%/12*12);
    }
    .col-xs-11{
        width: calc(100%/12 * 1);
    }
    .col-xs-10{
        width: calc(100%/12 * 10);
    }
    .col-xs-9{
        width: calc(100%/12 * 9);
    }
    .col-xs-8{
        width: calc(100%/12 * 8);
    }
    .col-xs-7{
        width: calc(100%/12 * 7);
    }
    .col-xs-6{
        width: calc(100%/12 * 6);
    }
    .col-xs-5{
        width: calc(100%/12 * 5);
    }
    .col-xs-4{
        width: calc(100%/12 * 4);
    }
    .col-xs-3{
        width: calc(100%/12 * 3);
    }
    .col-xs-2{
        width: calc(100%/12 * 2);
    }
    .col-xs-1{
        width: calc(100%/12 * 1);
    }
}

