/* container  */

.container{
    width: 100%;
    max-width: 1078px;
    margin: 0 auto;
}

.container-fluid{
    width: 100%;
    max-width: 100%;
}

/* Flex property */

.flex{
    display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
}
.flex-space-around{
    display: flex;
    justify-content: space-around;
}

/* Set Row */

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Set column */
.col-12-lg{
    width: calc(100%/12*12);
}
.col-11-lg{
    width: calc(100%/12 * 1);
}
.col-10-lg{
    width: calc(100%/12 * 10);
}
.col-9-lg{
    width: calc(100%/12 * 9);
}
.col-8-lg{
    width: calc(100%/12 * 8);
}
.col-7-lg{
    width: calc(100%/12 * 7);
}
.col-6-lg{
    width: calc(100%/12 * 6);
}
.col-5-lg{
    width: calc(100%/12 * 5);
}
.col-4-lg{
    width: calc(100%/12 * 4);
}
.col-3-lg{
    width: calc(100%/12 * 3);
}
.col-2-lg{
    width: calc(100%/12 * 2);
}
.col-1-lg{
    width: calc(100%/12 * 1);
}

@media screen and (max-width: 768px){
    .col-12-md{
        width: calc(100%/12*12);
    }
    .col-11-md{
        width: calc(100%/12 * 1);
    }
    .col-10-md{
        width: calc(100%/12 * 10);
    }
    .col-9-md{
        width: calc(100%/12 * 9);
    }
    .col-8-md{
        width: calc(100%/12 * 8);
    }
    .col-7-md{
        width: calc(100%/12 * 7);
    }
    .col-6-md{
        width: calc(100%/12 * 6);
    }
    .col-5-md{
        width: calc(100%/12 * 5);
    }
    .col-4-md{
        width: calc(100%/12 * 4);
    }
    .col-3-md{
        width: calc(100%/12 * 3);
    }
    .col-2-md{
        width: calc(100%/12 * 2);
    }
    .col-1-md{
        width: calc(100%/12 * 1);
    }
}

@media screen and (max-width: 576px){
    .col-12-xs{
        width: calc(100%/12*12);
    }
    .col-11-xs{
        width: calc(100%/12 * 1);
    }
    .col-10-xs{
        width: calc(100%/12 * 10);
    }
    .col-9-xs{
        width: calc(100%/12 * 9);
    }
    .col-8-xs{
        width: calc(100%/12 * 8);
    }
    .col-7-xs{
        width: calc(100%/12 * 7);
    }
    .col-6-xs{
        width: calc(100%/12 * 6);
    }
    .col-5-xs{
        width: calc(100%/12 * 5);
    }
    .col-4-xs{
        width: calc(100%/12 * 4);
    }
    .col-3-xs{
        width: calc(100%/12 * 3);
    }
    .col-2-xs{
        width: calc(100%/12 * 2);
    }
    .col-1-xs{
        width: calc(100%/12 * 1);
    }
}

